.svg-map-map {
    fill: transparent;
    stroke: #000;
    stroke-width: 1;
}

.svg-map-outline {
    stroke-width: 4px;
}

.svg-map-interior {
    stroke-width: 1px;
}

.svg-map-clickable-region {
    stroke: none;
}

.svg-map-clickable-region:hover {
    cursor: pointer;
}

.svg-map-outline-ak {
    fill: #2192c0;
}

.svg-map-group-ak:hover .svg-map-outline-ak {
    fill: #1e85ae;
}

.svg-map-outline-ne {
    fill: #978ec4;
}

.svg-map-group-ne:hover .svg-map-outline-ne {
    fill: #8a80bc;
}

.svg-map-outline-hi {
    fill: #542e89;
}

.svg-map-group-hi:hover .svg-map-outline-hi {
    fill: #4b297a;
}

.svg-map--island-background {
    fill: #eaf6ff;
}

.svg-map-group-hi:hover .svg-map--island-background,
.svg-map-group-pr:hover .svg-map--island-background {
    fill: #d6edff;
}

.svg-map-icon-background-hi {
    fill: rgba(84, 46, 137, .4);
    stroke: rgb(84, 46, 137);
    stroke-width: 1px;
}

.svg-map-icon-outline-hi {
    transform: scale(1.45) translate(138px,198px);
}

.svg-map-group-hi:hover .svg-map-icon-background-hi {
    fill: rgba(84, 46, 137, .55);
}

.svg-map-outline-mw {
    fill: #b1202a;
}

.svg-map-group-mw:hover .svg-map-outline-mw {
    fill: #9f1d26
}

.figure8_2 .svg-map-outline-ngp {
    fill: #a0a6aa;
}

.figure8_2 .svg-map-group-ngp:hover .svg-map-outline-ngp {
    fill: #a0a6aa;
}

.svg-map-outline-nw {
    fill: #f05132;
}

.svg-map-group-nw:hover .svg-map-outline-nw {
    fill: #ee4220;
}

.svg-map-outline-se {
    fill: #fbb14e;
}

.svg-map-group-se:hover .svg-map-outline-se {
    fill: #fba83c;
}

.svg-map-outline-sgp {
    fill: #0e675f;
}

.svg-map-group-sgp:hover .svg-map-outline-sgp {
    fill: #0c554f;
}

.svg-map-outline-sw {
    fill: #4e9341;
}

.svg-map-group-sw:hover .svg-map-outline-sw {
    fill: #48873b;
}

.svg-map-outline-pr {
    fill: #c51f7d;
}

.svg-map-group-pr:hover .svg-map-outline-pr {
    fill: #b51c73;
}

.svg-map-icon-background-pr {
    stroke: #c51f7d;
    stroke-width: .4px;
    fill: rgba(197, 31, 125, .4);
}

.svg-map-group-pr:hover .svg-map-icon-background-pr {
    fill: rgba(197, 31, 125, .55);
}

.svg-map-icon-outline-pr {
    transform: scale(.92) translate(243px,391px);
}

.icon--7-5 {
    stroke-width: 0;
    stroke: #fff;
    fill: #fff;
}

.svg-map-box {
    stroke-width: 7px;
    stroke: #777;
    fill: none;
    stroke: none;
}

ul.svg-map-text-body {
    padding-left: 20px;
}

.figure7_5 .svg-map-text-area {
    min-height: 130px;
}

.svg-map-text-area h6 {
    font-weight: bold;
}

.svg-map-text-factor {
    vertical-align: top;
}
 
.figure7_5 .svg-map-text-factor {
    display: block;
    width: auto;
    float: left;
}

.figure7_5 .svg-map-text-factor + .svg-map-text-factor {
    width: auto;
    float: none;
}

div.svg-map-text-factor:first-of-type {
    padding-right: 15px;
}

.svg-map-text-factor:last-child {
    padding-left: 15px;
}

.svg-map-text-icon {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.svg-map-text-icon svg {
    width: 70%;
}

.svg-map-text {
    border-width: 4px 0;
    border-style: solid;
    padding-top: 10px;
}

.svg-map-text[data-active=default] {
    border-width: 0;
}

.svg-map-text[data-active=default] .svg-map-text-default {
    display: block;
}

.svg-map-text[data-active=alaska] {
    border-color: #2192c0;
}

.svg-map-text-alaska svg {
    fill: #2192c0;
}

.svg-map-text-alaska .svg-map-text-icon {
    background-color: rgba(33, 146, 192, .1);
}

.svg-map-text[data-active=alaska] .svg-map-text-alaska {
    display: block;
}

.svg-map-text[data-active=northeast] {
    border-color: #978ec4;
}

.svg-map-text-northeast svg {
    fill: #978ec4;
}

.svg-map-text-northeast .svg-map-text-icon {
    background-color: rgba(151, 142, 196, .1);
}

.svg-map-text[data-active=northeast] .svg-map-text-northeast {
    display: block;
}

.svg-map-text[data-active=hawaii] {
    border-color: #542e89;
}

.svg-map-text-hawaii svg {
    fill: #542e89;
}

.svg-map-text-hawaii .svg-map-text-icon {
    background-color: rgba(84, 46, 137, .1);
}

.svg-map-text[data-active=hawaii] .svg-map-text-hawaii {
    display: block;
}

.svg-map-text[data-active=midwest] {
    border-color: #b1202a;
}

.svg-map-text-midwest svg {
    fill: #b1202a;
}

.svg-map-text-midwest .svg-map-text-icon {
    background-color: rgba(177, 32, 42, .1);
}

.svg-map-text[data-active=midwest] .svg-map-text-midwest {
    display: block;
}

.svg-map-text[data-active=northerngreatplains] {
    border-color: #5ab5ad;
}

.svg-map-text-northerngreatplains svg {
    fill: #5ab5ad;
}

.svg-map-text-northerngreatplains .svg-map-text-icon {
    background-color: rgba(90, 181, 173, .1);
}

.svg-map-text[data-active=northerngreatplains] .svg-map-text-northerngreatplains {
    display: block;
}

.svg-map-text[data-active=northwest] {
    border-color: #f05132;
}

.svg-map-text-northwest svg {
    fill: #f05132;
}

.svg-map-text-northwest .svg-map-text-icon {
    background-color: rgba(240, 81, 50, .1);
}

.svg-map-text[data-active=northwest] .svg-map-text-northwest {
    display: block;
}

.svg-map-text[data-active=southeast] {
    border-color: #fbb14e;
}

.svg-map-text-southeast svg {
    fill: #fbb14e;
}

.svg-map-text-southeast .svg-map-text-icon {
    background-color: rgba(251, 177, 78, .1);
}

.svg-map-text[data-active=southeast] .svg-map-text-southeast {
    display: block;
}

.svg-map-text[data-active=southerngreatplains] {
    border-color: #0e675f;
}

.svg-map-text-southerngreatplains svg {
    fill: #0e675f;
}

.svg-map-text-southerngreatplains .svg-map-text-icon {
    background-color: rgba(14, 103, 95, .1);
}

.svg-map-text[data-active=southerngreatplains] .svg-map-text-southerngreatplains {
    display: block;
}

.svg-map-text[data-active=southwest] {
    border-color: #4e9341;
}

.svg-map-text-southwest svg {
    fill: #4e9341;
}

.svg-map-text-southwest .svg-map-text-icon {
    background-color: rgba(78, 147, 65, .1);
}

.svg-map-text[data-active=southwest] .svg-map-text-southwest {
    display: block;
}

.svg-map-text[data-active=puertorico] {
    border-color: #c51f7d;
}

.svg-map-text-puertorico svg {
    fill: #c51f7d;
}

.svg-map-text-puertorico .svg-map-text-icon {
    background-color: rgba(197, 31, 125, .1);
}

.svg-map-text[data-active=puertorico] .svg-map-text-puertorico {
    display: block;
}
