.graphic--stacked-bar .stacked-bar svg {
    width: 100%;
}

.graphic--stacked-bar .axis text {
    font: 14px Arial;
}

.figure--29_1 .axis .tick text {
    font-size: 18px;
}

.graphic--stacked-bar text.axis--label--x {
    font-weight: bold;
}

.graphic--stacked-bar .tick.inactive text {
    fill: #999;
}

.graphic--stacked-bar .tick.inactive line {
    stroke: #999;
}

.graphic--stacked-bar .tick.inactive:hover text {
    fill: #444;
}

.graphic--stacked-bar .tick.inactive:hover line {
    stroke: #444;
}

.graphic--stacked-bar text {
    fill: #000;
}

.graphic--stacked-bar .axis line,
.graphic--stacked-bar .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.graphic--stacked-bar .active {
    background: #c3c3cb;
}

.graphic--stacked-bar--tip {
    line-height: 1.2em;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    font-family: sans-serif;
}

/* Creates a small triangle extender for the tooltip */
.graphic--stacked-bar--tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.graphic--stacked-bar--tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.graphic--stacked-bar {
    position: relative;
    width: 720px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    background: #efefef;
}

.graphic--stacked-bar rect {
    cursor: pointer;
}

.graphic--stacked-bar rect[data-type="Agriculture"]:hover {
    fill: #946324 !important;
}

.graphic--stacked-bar rect[data-type="Barren"]:hover {
    fill: #bfbfbf !important;
}

.graphic--stacked-bar rect[data-type="Built-up"]:hover {
    fill: #cd170a !important;
}

.graphic--stacked-bar rect[data-type="Conservation"]:hover {
    fill: #88c13e !important;
}

.graphic--stacked-bar rect[data-type="Developed"]:hover {
    fill: #c70f21 !important;
}

.graphic--stacked-bar rect[data-type="Forest"]:hover {
    fill: #8dbe55 !important;
}

.graphic--stacked-bar rect[data-type="Grass/Shrub"]:hover {
    fill: #c7cc38 !important;
}

.graphic--stacked-bar rect[data-type="Production"]:hover {
    fill: #808ac6 !important;
}

.graphic--stacked-bar rect[data-type="Recreation"]:hover {
    fill: #ff9a42 !important;
}

.graphic--stacked-bar rect[data-type="Snow/Ice"]:hover {
    fill: #bebcbb !important;
}

.graphic--stacked-bar rect[data-type="Water"]:hover {
    fill: #3e5a8e !important;
}

.graphic--stacked-bar rect[data-type="Wetland"]:hover {
    fill: #88badd !important;
}

.graphic--stacked-bar--legend--wrapper {
    margin: 10px 0;
    padding: 0 10px;
}

.graphic--stacked-bar--legend {
    position: relative;
    text-align: left;
    margin: 0 auto;
}

.graphic--stacked-bar .legend-item {
    display: inline-block;
    width: 33.33%;
    text-align: left;
    line-height: 18px;
    font-family: Arial;
}

.figure--29_1 .legend-item:nth-child(1), .figure--29_1 .legend-item:nth-child(4) {
    padding-left: 0;
    padding-right: 10px;
}

.figure--29_1 .legend-item:nth-child(3), .figure--29_1 .legend-item:nth-child(6) {
    padding-left: 10px;
    padding-right: 0;
}

.figure--29_1 .legend-item:nth-child(2), .figure--29_1 .legend-item:nth-child(5) {
    padding-left: 5px;
    padding-right: 5px;
}

.figure--29_1 .legend-item:nth-child(-n+3) {
    padding-bottom: 10px;
}

.figure--29_1 .legend-item a {
    height: 46px;
    line-height: 46px;
    padding: 0px 10px 0px 30px;
    position: relative;
    display: block;
    cursor: pointer;
    border: 1px solid #999;
    border-radius: 3px;
    background: #fff;
    box-shadow: #aaa 1px 1px 1px;
}

.graphic--stacked-bar .legend-item span { 
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}

.graphic--stacked-bar .legend-item a:hover {
    background: #eee;
}

.figure--29_1 .legend-item a:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    position: absolute;
    left: 8px;
    top: 15px;
}

.graphic--stacked-bar .legend-item--ghg-target-cap-pricing a:before {
    background-color: #00794e;
}

.graphic--stacked-bar .legend-item--renewable-ccs-nuclear a:before {
    background-color: #509cd4;
}

.graphic--stacked-bar .legend-item--energy-efficiency a:before {
    background-color: #ffbe00;
}

.graphic--stacked-bar .legend-item--transportation a:before {
    background-color: #7e2864;
}

.graphic--stacked-bar .legend-item--non-co2-ghg a:before {
    background-color: #02507b;
}

.graphic--stacked-bar .legend-item--forestry-and-land-use a:before {
    background-color: #6fab45;
}

.graphic--stacked-bar .graphic--stacked-bar--legend--wrapper p {
    font-size: 12px;
    color: #555;
    margin: 0;
    padding: 0;
}

.graphic--stacked-bar .legend-item.inactive a {
    cursor: default;
    background: #9ea6ab;
    color: #e8eaeb !important;
}

.graphic--stacked-bar .legend-item.inactive a:hover {
    background: #9ea6ab;
}

.graphic--stacked-bar .graphic--stacked-bar-map {
    margin-bottom: 20px;
    padding: 0 5px;
}

.graphic--stacked-bar .graphic--stacked-bar-map img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 575.9px) {
    .graphic--stacked-bar .legend-item {
        width: 50%;
    }
    
    .graphic--stacked-bar .legend-item:nth-child(2n) {
        padding-left: 8px;
        padding-right: 0;
    }
    
    .graphic--stacked-bar .legend-item:nth-child(2n + 1) {
        padding-left: 0;
        padding-right: 8px;
    }
    
    .graphic--stacked-bar .legend-item:nth-child(-n + 4) {
        padding-bottom: 10px;
    }
}
