.figure14_3--legend {
    border: 1px solid #e3e3e3;
    border-top: 0;
    padding: 10px 20px;
}

.map-figure-legend--group {
    width: 100%;
}

.map-legend--header {
    width: 50%;
    font-weight: bold;
    vertical-align: top;
}

.map-figure-legend-flood, .map-figure-legend-hospital {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    vertical-align: middle;
    margin-right: 5px;
}

.map-figure-legend-hospital {
    border-radius: 50%;
}

.map-figure-legend-flood--1 {
    background: #00549d;
}

.map-figure-legend-flood--2 {
    background: #0184be;
}

.map-figure-legend-flood--3 {
    background: #5eafd7;
}

.map-figure-legend-flood--4 {
    background: #b9d7e7;
}

.map-figure-legend-flood--5 {
    background: #eef3ff;
}

.map-figure-legend-hospital--1 {
    background: #c31f21;
}

.map-figure-legend-hospital--2 {
    background: #f84214;
}

.map-figure-legend-hospital--3 {
    background: #ff8e35;
}

.map-figure-legend-hospital--4 {
    background: #ffca56;
}

.map-figure-legend-hospital--5 {
    background: #fffbb0;
}

.map-figure-legend-hospital--none {
    background: #4e4e4e;
}
