.figure14_3--legend {
    margin-top: -10px;
    border: 1px solid #e3e3e3;
    border-top: 0;
    padding: 0 10px 10px;
}

.map-legend--header {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.map-legend--header > div {
    padding-left: 5px;
    padding-right: 5px;
}

.map-legend--items {
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}


.map-legend--items > div {
/*    max-width: 100%;*/
    padding-left: 0;
    padding-right: 5px;
/*    min-height: 1px;*/
}
/*
@media (min-width: 768px) {
    .map-legend--items > div {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
    }
}
*/
.map-figure-legend th {
    width: 60px;
    padding: 0 5px;
}

@media (min-width: 991.9px) and (max-width: 1181.9px) {
    .map-legend-label--short {
        display: inline !important;
    }

    .map-legend-label--full {
        display: none !important;
    }
}

.map-figure-legend-flood {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    vertical-align: middle;
    margin-right: 5px;
}

.map-figure-legend-hospital {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #000;
    vertical-align: middle;
    margin-right: 5px;
}

.map-figure-legend-flood--1 {
    background: #00549d;
}

.map-figure-legend-flood--2 {
    background: #0184be;
}

.map-figure-legend-flood--3 {
    background: #5eafd7;
}

.map-figure-legend-flood--4 {
    background: #b9d7e7;
}

.map-figure-legend-flood--5 {
    background: #eef3ff;
}

.map-figure-legend-hospital--1 {
    background: #c31f21;
}

.map-figure-legend-hospital--2 {
    background: #f84214;
}

.map-figure-legend-hospital--3 {
    background: #ff8e35;
}

.map-figure-legend-hospital--4 {
    background: #ffca56;
}

.map-figure-legend-hospital--5 {
    background: #fffbb0;
}

.map-figure-legend-hospital--none {
    background: #4e4e4e;
}
