.graph-outline {
    fill: none;
    stroke: gray;
    stroke-width: 0.75px;
}

.graph-tick {
    stroke: gray;
    stroke-width: 0.5px;
}

.graph-label {
    font-size:9px;
    font-family: Arial;
    color: gray;
 }

.graph-axis-label {
    font-size: 7px;
    font-family: Arial;
    transform: rotate(-90deg);
}

.graph-baseline {
    stroke:gray;
    stroke-width:0.38px;
 }

.graph-line {
    fill: none;
    stroke-linejoin: round;
    stroke-width: 1px;
}

.graph-line--all {
    stroke-width: 1.3px;
}

.graph-line--hatched {
    stroke-width: .38px;
    opacity: .5;
}

.graph-line--inactive {
    display: none;
}

.graph-line--observed {
    stroke-width: 1.5px;
    stroke: #000;
}

.graph-line--all--combined {
    stroke: #fe8d3c;
}

.graph-line--all--human {
    stroke: #e31a1c;
}

.graph-line--all--natural {
    stroke: #fed976;
}

.graph-line--aerosols, .graph-line--orbital {
    stroke: #8c510a;
}    

.graph-line--greenhouse, .graph-line--solar {
    stroke: #542788;
}    

.graph-line--land-cover, .graph-line--volcanic {
    stroke: #4d9221;
}    

.graph-line--ozone {
    stroke: #feb24c;
}    

.graph-checkboxes-section--combined {
    margin: 20px 0;
}

.graph-checkboxes-section--human, .graph-checkboxes-section--natural {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.graph-checkboxes-section--human {
    padding-right: 15px;
}

.graph-checkboxes-section--natural {
    padding-left: 15px;
}

.graph-checkboxes-section h5 {
    text-align: center;
    border-bottom: 1px solid;
}

.graph-checkboxes-wrapper div {
    display: inline-block;
    margin-right: 20px;
}

.graph-checkboxes-wrapper input {
    vertical-align: top;
    margin-right: 5px;
    margin-top: .45rem;
    cursor: pointer;
}

.graph-checkboxes-wrapper label {
    cursor: pointer;
}
