.figure1_1 svg {
    max-width: 100%;
}

.svg-map-map {
    fill: transparent;
    stroke: #000;
    stroke-width: 1;
}

.svg-map-outline {
    stroke-width: 4px;
}

.svg-map-interior {
    stroke-width: 1px;
}

.svg-map-clickable-region {
    stroke: none;
}

.svg-map-clickable-region:hover {
    cursor: pointer;
}

.svg-map-outline-ak {
    fill: #2192c0;
}

.svg-map-clickable-region:hover + .svg-map-outline-ak {
    fill: #1e85ae;
}

.svg-map-outline-ne {
    fill: #978ec4;
}

.svg-map-group-ne:hover .svg-map-outline-ne {
    fill: #8a80bc;
}

.svg-map-outline-hi {
    fill: #542e89;
}

.svg-map-group-hi:hover .svg-map-outline-hi {
    fill: #4b297a;
}

.svg-map-group-mw {
    transform: translate(5px, 9px);
}

.svg-map-outline-mw {
    transform: scale(.429);
    fill: #b1202a;
    stroke-width: 8px;
}

.svg-map-outline-mw:hover {
    fill: #9f1d26
}

.svg-map-interior-mw {
    transform: scale(.33);
    stroke-width: 2px;
}

.svg-map-group-ngp {
    transform: translate(15px, 14px);
}

.svg-map-outline-ngp {
    transform: scale(.346);
    fill: #5ab5ad;
    stroke-width: 9px;
}

.svg-map-outline-ngp:hover {
    fill: #4daca5;
}

.svg-map-interior-ngp {
    transform: scale(.308);
    stroke-width: 2px;
}

.svg-map-group-nw {
    transform: translate(24px, 10px);
}

.svg-map-outline-nw {
    transform: scale(.28);
    fill: #f05132;
    stroke-width: 11px;
}

.svg-map-outline-nw:hover {
    fill: #ee4220;
}

.svg-map-interior-nw {
    transform: scale(.222);
    stroke-width: 2px;
}

.svg-map-outline-se {
    transform: scale(.498);
    fill: #fbb14e;
    stroke-width: 8px;
}

.svg-map-outline-se:hover {
    fill: #fba83c;
}

.svg-map-interior-se {
    transform: scale(.363);
    stroke-width: 1px;
}

.svg-map-group-sgp {
    transform: translate(11px, -5px);
}

.svg-map-outline-sgp {
    transform: scale(.462);
    fill: #0e675f;
    stroke-width: 8px;
}

.svg-map-outline-sgp:hover {
    fill: #0c554f;
}

.svg-map-interior-sgp {
    transform: scale(.172);
    stroke-width: 3px;
}

.svg-map-group-sw {
    transform: translate(22px, 4px);
}

.svg-map-outline-sw {
    transform: scale(.428);
    fill: #4e9341;
    stroke-width: 8px;
}

.svg-map-outline-sw:hover {
    fill: #48873b;
}

.svg-map-interior-sw {
    transform: scale(.399);
    stroke-width: 1px;
}

.svg-map-outline-pr {
    transform: scale(.105);
    fill: #c51f7d;
    stroke-width: 30px;
}

.svg-map-group-pr:hover .svg-map-outline-pr {
    fill: #b51c73;
}

.svg-map-box {
    stroke-width: 7px;
    stroke: #777;
    fill: none;
}

/**
 * font-size trickery is to allow for the inline-block 50% width,
 * otherwise whitespace can mess it up.
 */
.svg-map-text-area {
    display: none;
    font-size: 0;
}

.svg-map-text-area p {
    font-size: initial;
}

.svg-map-text-area h6 {
    font-weight: bold;
}

.svg-map-text-factor {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div.svg-map-text-factor:first-of-type {
    padding-right: 15px;
}

.svg-map-text-factor:last-child {
    padding-left: 15px;
}

.svg-map-text {
    border-width: 4px 0;
    border-style: solid;
    padding-top: 10px;
}

.svg-map-text[data-active=default] {
    border-width: 0;
}

.svg-map-text[data-active=default] .svg-map-text-default {
    display: block;
}

.svg-map-text[data-active=alaska] {
    border-color: #2192c0;
}

.svg-map-text[data-active=alaska] .svg-map-text-alaska {
    display: block;
}

.svg-map-text[data-active=northeast] {
    border-color: #978ec4;
}

.svg-map-text[data-active=northeast] .svg-map-text-northeast {
    display: block;
}

.svg-map-text[data-active=hawaii] {
    border-color: #542e89;
}

.svg-map-text[data-active=hawaii] .svg-map-text-hawaii {
    display: block;
}

.svg-map-text[data-active=midwest] {
    border-color: #b1202a;
}

.svg-map-text[data-active=midwest] .svg-map-text-midwest {
    display: block;
}

.svg-map-text[data-active=northerngreatplains] {
    border-color: #5ab5ad;
}

.svg-map-text[data-active=northerngreatplains] .svg-map-text-northerngreatplains {
    display: block;
}

.svg-map-text[data-active=northwest] {
    border-color: #f05132;
}

.svg-map-text[data-active=northwest] .svg-map-text-northwest {
    display: block;
}

.svg-map-text[data-active=southeast] {
    border-color: #fbb14e;
}

.svg-map-text[data-active=southeast] .svg-map-text-southeast {
    display: block;
}

.svg-map-text[data-active=southerngreatplains] {
    border-color: #0e675f;
}

.svg-map-text[data-active=southerngreatplains] .svg-map-text-southerngreatplains {
    display: block;
}

.svg-map-text[data-active=southwest] {
    border-color: #4e9341;
}

.svg-map-text[data-active=southwest] .svg-map-text-southwest {
    display: block;
}

.svg-map-text[data-active=puertorico] {
    border-color: #c51f7d;
}

.svg-map-text[data-active=puertorico] .svg-map-text-puertorico {
    display: block;
}
