.figure1_1 svg {
    max-width: 100%;
}

.svg-map-map {
    fill: transparent;
    stroke: #000;
    stroke-width: 1;
}

.svg-map-clickable-region:hover {
    cursor: pointer;
}

.svg-map-outline-ak {
    transform: scale(.475);
    stroke-width: 8px;
    fill: #2192c0;
}

.svg-map-outline-ne {
    transform: scale(.4);
    stroke-width: 8px;
    fill: #978ec4;
}

.svg-map-interior-ne {
    transform: scale(.233);
    stroke-width: 2px;
    z-index: 100;
}

.svg-map-box {
    stroke-width: 7px;
    stroke: #777;
    fill: none;
}

/**
 * font-size trickery is to allow for the inline-block 50% width,
 * otherwise whitespace can mess it up.
 */
.svg-map-text-area {
    display: none;
    font-size: 0;
}

.svg-map-text-area p {
    font-size: initial;
}

.svg-map-text-area h6 {
    font-weight: bold;
}

.svg-map-text-factor {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

div.svg-map-text-factor:first-of-type {
    padding-right: 15px;
}

.svg-map-text-factor:last-child {
    padding-left: 15px;
}

.svg-map-text {
    border-top: 4px solid;
}

.svg-map-text[data-active=default] {
    border-top: 0;
}

.svg-map-text[data-active=default] .svg-map-text-default {
    display: block;
}

.svg-map-text[data-active=alaska] {
    border-top-color: #2192c0;
}

.svg-map-text[data-active=alaska] .svg-map-text-alaska {
    display: block;
}

.svg-map-text[data-active=northeast] {
    border-top-color: #978ec4;
}

.svg-map-text[data-active=northeast] .svg-map-text-northeast {
    display: block;
}

.svg-map-text[data-active=hawaii] {
    border-top-color: #542e89;
}

.svg-map-text[data-active=hawaii] .svg-map-text-hawaii {
    display: block;
}

.svg-map-text[data-active=midwest] {
    border-top-color: #b1202a;
}

.svg-map-text[data-active=midwest] .svg-map-text-midwest {
    display: block;
}

.svg-map-text[data-active=northerngreatplains] {
    border-top-color: #5ab5ad;
}

.svg-map-text[data-active=northerngreatplains] .svg-map-text-northerngreatplains {
    display: block;
}

.svg-map-text[data-active=northwest] {
    border-top-color: #f05132;
}

.svg-map-text[data-active=northwest] .svg-map-text-northwest {
    display: block;
}

.svg-map-text[data-active=southeast] {
    border-top-color: #fbb14e;
}

.svg-map-text[data-active=southeast] .svg-map-text-southeast {
    display: block;
}

.svg-map-text[data-active=southerngreatplains] {
    border-top-color: #0e675f;
}

.svg-map-text[data-active=southerngreatplains] .svg-map-text-southerngreatplains {
    display: block;
}

.svg-map-text[data-active=southwest] {
    border-top-color: #4e9341;
}

.svg-map-text[data-active=southwest] .svg-map-text-southwest {
    display: block;
}

.svg-map-text[data-active=puertorico] {
    border-top-color: #c51f7d;
}

.svg-map-text[data-active=puertorico] .svg-map-text-puertorico {
    display: block;
}

