*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    padding-left: 30px;
    padding-right: 420px;
}

.hover-map-container {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.hover-map-region:hover {
    cursor: pointer;
}

#textbox {
    position: absolute;
    top: 55%;
    right: -320px;
    width: 440px;
    padding: 20px;
    padding-left: 120px;
    background-color: rgba(255, 255, 255, .8);
    z-index: 20;

    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 20px;
}

.hover-map-text-title {
    font-size: 1.2em;
    font-weight: bold;
}

#textbox[data-lock=northwest] {
    background-image: url("images/grapes.jpg");
}

#textbox[data-lock=northwest] .hover-map-text-title {
    color: #f05133;
}

#textbox[data-lock=southwest] .hover-map-text-title {
    color: #4f9441;
}

#textbox[data-lock=greatplains] {
    background-image: url("images/duck.jpg");
}

#textbox[data-lock=greatplains] .hover-map-text-title {
    color: #59b5ad;
}

#textbox[data-lock=greatlakes] {
    background-image: url("images/wolf.jpg");
}

#textbox[data-lock=greatlakes] .hover-map-text-title {
    color: #b11f2a;
}

#textbox[data-lock=northeast] {
    background-image: url("images/lobster.jpg");
}

#textbox[data-lock=northeast] .hover-map-text-title {
    color: #978dc4;
}

#textbox[data-lock=southeast] {
    background-image: url("images/snake.jpg");
}

#textbox[data-lock=southeast] .hover-map-text-title {
    color: #fbb14e;
}

#textbox[data-lock=southtexas] .hover-map-text-title {
    color: #0f665e;
}

#textbox[data-lock=alaska] {
    background-image: url("images/bear.jpg");
}

#textbox[data-lock=alaska] .hover-map-text-title {
    color: #2292c0;
}

#textbox[data-lock=hawaii] .hover-map-text-title {
    color: #552e89;
}

#textbox[data-lock=puertorico] .hover-map-text-title {
    color: #c61d7d;
}

.hover-map-region {
    fill: transparent;
}

path {
    pointer-events: all;
}

.NW {
    fill: #f05132;
}

.SW {
    fill: #4e9341;
}

.NGP {
    fill: #5ab5ad;
}

.SGP {
    fill: #0e675f;
}

.MW {
    fill: #b1202a;
}

.SE {
    fill: #fbb14e;
}

.NE {
    fill: #978ec4;
}

.AK {
    fill: #2192c0;
}

.HI {
    fill: #542e89;
}

.PR {
    fill: #c51f7d;
}
